.free01 .inside h3 {background: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; cursor: default; border-top: 1px solid #DFDFDF; padding-top: 15px !important; margin-top: 10px !important;}
.free01 .inside h3.first {border-top: none; margin-top: 0 !important;}
.free01 .hndle {cursor: default;}
.free01 .form-table td input, .free01 .form-table td .description {vertical-align: middle;}
.free01 .form-table td .description {margin-left: 5px;}
.free01_options {padding: 40px 20px;}
.getconnected-item {margin-bottom: 5px;}
.getconnected-options {display: none;}
.getconnected-title {font-size: 13px; display: block; margin-bottom: 5px;}

#mColorPickerImg { background-image: url("../images/colorpicker.png") !important;}
#mColorPickerImgGray { background-image: url("../images/gray.png") !important;}
#colorpicker_text_color, #colorpicker_link_color, #colorpicker_bg_color { display: none;}
#colorpicker_text_color_link, #colorpicker_link_color_link, #colorpicker_bg_color_link { margin-left: 8px;}
